body {
  background-color: lightcyan;
  margin: auto;
  font-family: "Roboto";
}
h1 {
  text-align: center;
  margin-top: 40px;
}
p {
  color: lightslategray;
  text-align: center;
}
ul {
  color: darkgray;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Roboto";
}
